@model GTBookSwap.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
}

<div class="modal fade" id="myLoginModal" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
    <div class="modal-dialog" id="pop">
        @{Html.RenderPartial("_Login");}
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}